SUBSYSTEM=="video4linux", KERNEL=="video*", ATTR{name}=="gc555", ATTR{index}=="0", SUBSYSTEMS=="pci", ATTRS{vendor}=="0x1461", ATTRS{device}=="0x0054", ATTRS{subsystem_vendor}=="0x1461", ATTRS{subsystem_device}=="0x5550", ATTRS{serial_number}=="?*", ENV{ID_BUS}="pci", ENV{ID_SERIAL}="AVerMedia_Live_Gamer_BOLT_GC555_$attr{serial_number}", SYMLINK+="v4l/by-id/$env{ID_BUS}-$env{ID_SERIAL}-video-index$attr{index}"
